.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.user-cart {
    width: 100%;
}

.user-cart input {
    border: none;
    background: transparent;
    width: 100%;
}

.cart-product-list {
    width: 100%;
    min-width: 1070px
}

.cart-product-list td:nth-child(1) {
    width: 15%;
}
.cart-product-list td:nth-child(2) {
    width: 40%;
}
.cart-product-list td:nth-child(3) {
    width: 20%;
}
.cart-product-list td:nth-child(4) {
    width: 15%;
}
.cart-product-list td:nth-child(5) {
    width: 10%;
}

.cart-product-count {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cart-product-count > *{
    text-align: center;
}

.cart-product-price {
    text-align: right;
    width: 100%;
}

.cart-product-list tr {
    border-style: solid;
}

.control-amount {
    height: fit-content;
    width: 35px;
    padding: 10px;
    margin: 10px;
}

.total {
    text-align: right;
}

table tr td {
    padding: 25px;
}


.cart-product-image img{
    width: 100%;
}

.remove-cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
}