* {
  box-sizing: border-box;
  font-family: "Century Gothic", sans-serif;
  font-size: medium;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header {
  align-items: center;
  justify-items: center;
  
  min-width: 1200px;
  position: sticky;
  top: 0;
  background-color: #FFF;
  z-index: 9;
}

header img {
  width: 13em;
}

header nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 2px 0 0 rgba(216, 12, 45, 0.203);

  padding: 1em 4em 1em 4em;
}

.page-content {
  min-width: 1200px;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: #9b9b9b;
}

nav li {

  display: flex;
  align-items: center;
  padding: 1em 0 1em 2em;
}

nav ul {
  justify-content: right;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  font-weight: bold;
}

nav li .active {
  color: #D80C2D;
}

nav a:not(.active):hover {
  color: #000;
}

button {
  border-radius: 10px;
  border: none;
  padding: 14px;
  transition: all 0.4s;
}

button:not(:disabled) {
  background-color: #D80C2D;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(211, 26, 57, 0.203);
}

.button:disabled {
  background-color: #D80C2D;
  opacity: 25%;
}

button:not(:disabled):hover {
  background-color: #b7141f;
  box-shadow: 0 2px 2px 0 rgba(216, 12, 45, 0.203);
  cursor: pointer;
}

.content-container {
  padding: 35px;
  min-width: 1200px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

.section-container {
  padding: 16px;
}

.card-preview {
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);

  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-preview:hover {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
  
.remove-button:not(:disabled) {
  box-shadow: none;
  background-color: transparent;
  color: #D80C2D;
}

.remove-button:not(:disabled):hover {
  background-color: transparent;
  color: #b7141f;
  box-shadow: none;
}