.category-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.category-card {
    width: 255px;
    height: 255px;
    border-radius: 10px;
    padding: 16px 10px;
    margin: 12px;
}

.category-card img {
    width: 125px;
}

.category-name {
    text-align: center;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #9b9b9b;
    padding: 12px;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #4f4f4f;
}

.category-name > *::first-letter {
    text-transform: capitalize;
}

.category-name a {
    width: 100%;
}